In [1]:
directory = '/home/yoyo/Downloads/kaggle_amazon_jpg/planet/planet/'
label_csv_file = directory + 'train_classes.csv'
img_dir = directory + 'train-jpg/'
output_dir = 'data/satellite/amazon_new/'

In [2]:
import glob
import os
from PIL import Image
import numpy as np
from shutil import copyfile
import pandas as pd

# np.random.seed(42)

In [3]:
df = pd.read_csv(label_csv_file)
df['agri'] = df['tags'].apply(lambda x: 'agriculture' in x)

In [4]:
df

        image_name                                           tags   agri
0          train_0                                   haze primary  False
1          train_1                agriculture clear primary water   True
2          train_2                                  clear primary  False
3          train_3                                  clear primary  False
4          train_4      agriculture clear habitation primary road   True
...            ...                                            ...    ...
40474  train_40474                                  clear primary  False
40475  train_40475                                         cloudy  False
40476  train_40476                      agriculture clear primary   True
40477  train_40477                 agriculture clear primary road   True
40478  train_40478  agriculture cultivation partly_cloudy primary   True

[40479 rows x 3 columns]

In [5]:
idx1 = df['agri'] == 1
agri = df[idx1]
agri = agri.sample(frac=0.8)
agri

        image_name                                               tags  agri
13189  train_13189                    agriculture clear primary water  True
26805  train_26805                          agriculture clear primary  True
28584  train_28584                      agriculture haze primary road  True
4643    train_4643              agriculture clear cultivation primary  True
7215    train_7215                    agriculture clear primary water  True
...            ...                                                ...   ...
7246    train_7246                     agriculture haze primary water  True
39772  train_39772  agriculture cultivation partly_cloudy primary ...  True
22917  train_22917  agriculture cultivation habitation haze primar...  True
40215  train_40215              agriculture clear cultivation primary  True
38771  train_38771               agriculture clear habitation primary  True

[9852 rows x 3 columns]

In [6]:
idx0 = df['agri'] == 0
noagri = df[idx0]
noagri = noagri.sample(frac=0.4)
noagri

        image_name                         tags   agri
17789  train_17789                clear primary  False
28579  train_28579        partly_cloudy primary  False
4661    train_4661                clear primary  False
16002  train_16002                clear primary  False
34252  train_34252        partly_cloudy primary  False
...            ...                          ...    ...
9445    train_9445  partly_cloudy primary water  False
13241  train_13241        partly_cloudy primary  False
21714  train_21714                 haze primary  False
25882  train_25882                clear primary  False
17177  train_17177                clear primary  False

[11266 rows x 3 columns]

In [7]:
n = len(agri)
n_train = int(n*0.05)
n_test = int(n*0.1)
train_agri = agri.iloc[:n_train]
test_agri = agri.iloc[n_train:n_test]
unlabel_agri = agri.iloc[n_test:]

n = len(noagri)
n_train = int(n*0.05)
n_test = int(n*0.1)
train_noagri = noagri.iloc[:n_train]
test_noagri = noagri.iloc[n_train:n_test]
unlabel_noagri = noagri.iloc[n_test:]

In [8]:
def write_to_dir(d, image_dir, out_dir):
    if not os.path.exists(out_dir):
        os.makedirs(out_dir)
    count = 0
    for i, row in d.iterrows():
        image_name = row['image_name'] + '.jpg'
        src = image_dir + image_name
        dst = out_dir + image_name
        if os.path.exists(src) and not os.path.exists(dst):
            copyfile(src, dst)
            count += 1
    print(count)

In [9]:
write_to_dir(train_agri, img_dir, output_dir + 'train/agri/')
write_to_dir(test_agri, img_dir, output_dir + 'test/agri/')
write_to_dir(unlabel_agri, img_dir, output_dir + 'unlabeled/agri/')

write_to_dir(train_noagri, img_dir, output_dir + 'train/noagri/')
write_to_dir(test_noagri, img_dir, output_dir + 'test/noagri/')
write_to_dir(unlabel_noagri, img_dir, output_dir + 'unlabeled/noagri/')

492
493
8867
563
563
10140